* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 200px;
}

header .box {
  background-color: grey;
  flex: 1;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dont-miss {
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  margin-top: 5px;
  justify-content: space-between;
}

.dont-miss .article {
  background-color: rgb(93, 89, 89);
  width: 49%;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  margin-top: 3px;
  background-color: rgb(177, 177, 177);
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-article {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.s-article {
  display: flex;
  width: 33%;
  height: 400px;
  background: #ccc;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.section-text1 {
  display: flex;
  background: #ddd;
  width: 30%;
}

.section-text2 {
  background-color: #555;
  width: 69%;
}

.latest-articles {
  background-color: grey;
  display: flex;
  margin: 10px;
  padding: 20px 0;
  justify-content: center;
}

.book {
  display: flex;
  background-color: #555;
  margin: 10px;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.author {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  margin: 10px;
}

.author > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.author .photo {
  width: 30%;
  margin-right: 10px;
}

.author .about {
  width: 69%;
}

.design-systems {
  background-color: #888;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

footer {
  background-color: gray;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
